html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1")
        title #{searchText ? `${searchText} | Keplar` : "Keplar - An Unsplash Photo Browser" }
        
        link(rel='apple-touch-icon' sizes='57x57' href='/apple-icon-57x57.png')
        link(rel='apple-touch-icon' sizes='60x60' href='/apple-icon-60x60.png')
        link(rel='apple-touch-icon' sizes='72x72' href='/apple-icon-72x72.png')
        link(rel='apple-touch-icon' sizes='76x76' href='/apple-icon-76x76.png')
        link(rel='apple-touch-icon' sizes='114x114' href='/apple-icon-114x114.png')
        link(rel='apple-touch-icon' sizes='120x120' href='/apple-icon-120x120.png')
        link(rel='apple-touch-icon' sizes='144x144' href='/apple-icon-144x144.png')
        link(rel='apple-touch-icon' sizes='152x152' href='/apple-icon-152x152.png')
        link(rel='apple-touch-icon' sizes='180x180' href='/apple-icon-180x180.png')
        link(rel='icon' type='image/png' sizes='192x192' href='/android-icon-192x192.png')
        link(rel='icon' type='image/png' sizes='32x32' href='/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='96x96' href='/favicon-96x96.png')
        link(rel='icon' type='image/png' sizes='16x16' href='/favicon-16x16.png')
        link(rel='manifest' href='/manifest.json')
        meta(name='msapplication-TileColor' content='#ffffff')
        meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
        meta(name='theme-color' content='#ffffff')

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Pacifico|Material+Icons|Raleway&display=swap")
        link(rel="stylesheet", href="/vendor/css/materialize.min.css")
        link(rel="stylesheet", href="/vendor/css/animate.css")
        link(rel="stylesheet", href="/styles/main.css")

    body
        .nav
            .nav-content
                .logo
                    a(href="/", title="Keplar - An Unsplash Photo Browser")
                        img(src="/imgs/logo.png", alt="logo")
                .search#searchContainer
                    input(type="search", aria-controls="suggestions", autocapitalize="off", autocomplete="off", placeholder="Search images from Unsplash.com", value=searchText ? searchText : "")#search
                    .assist-logo
                        i.material-icons#search-icon search
                    ul.search-suggestions.hide.animated.fadeIn#suggestions
        .container
            .row
                if (data.results.length > 0)
                    each picture in data.results
                        .picture.col.s12.m6.l4
                            a(href="https://unsplash.com/photos/" + picture.id, target="_blank")
                                .image(style={"background-image": `url(` + picture.urls.small + `)`})
                                .text
                                    h3 #{picture.description != null ? picture.description : picture.alt_description}
                                a(href="https://unsplash.com/@" + picture.user.username, target="_blank")
                                    .user
                                        .dp
                                            img(src=picture.user.profile_image.small, alt=picture.user.username)
                                        .valign-wrapper.name
                                            p #{picture.user.name}
                                .info.hide-on-large-only#info
                                    i.material-icons info
                else
                    .col.s12.valign-wrapper.no-results
                        .messages
                            h6 Sorry, no results found.
                            p Maybe, you could try again with different keyword.


        script(src="/vendor/js/materialize.min.js")
        script(src="/vendor/js/axios.min.js")
        script(src="/js/controllers.js")